In [ ]:
# Downloading the dataset
!wget https://www.dropbox.com/s/dctsk9k67x2jgnb/imdb_labelled.txt

--2021-11-16 10:53:22--  https://www.dropbox.com/s/dctsk9k67x2jgnb/imdb_labelled.txt
Resolving www.dropbox.com (www.dropbox.com)... 162.125.80.18, 2620:100:601d:18::a27d:512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.80.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/dctsk9k67x2jgnb/imdb_labelled.txt [following]
--2021-11-16 10:53:22--  https://www.dropbox.com/s/raw/dctsk9k67x2jgnb/imdb_labelled.txt
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucf34dc83aca7cb5c0c57c775d3c.dl.dropboxusercontent.com/cd/0/inline/BaGWLo_fVi9UsZVYlp_Zyz-3GpEZKBq_MraucmBGeAJqSGKOKJkRo35m4r61UPSGuJwwanQab6W6zu77APIGox8tlsD0j6uw9t2JUGIIVcRnxX1N50hVEj5zER5Q7KheYtnyLZ6s72HEg5Pll67sD3OI/file# [following]
--2021-11-16 10:53:23--  https://ucf34dc83aca7cb5c0c57c775d3c.dl.dropboxusercontent.com/cd/0/inline/BaGWLo_fVi9UsZVYlp_Zyz-3GpEZKBq_MraucmBGeAJqSGKOKJkRo35m4r61UPSGuJwwanQab6W6zu77APIGox8tlsD0j6uw9t2JUGIIVcRnxX1N50hVEj5zER5Q7KheYtnyLZ6s72HEg5Pll67sD3OI/file
Resolving ucf34dc83aca7cb5c0c57c775d3c.dl.dropboxusercontent.com (ucf34dc83aca7cb5c0c57c775d3c.dl.dropboxusercontent.com)... 162.125.6.15, 2620:100:601c:15::a27d:60f
Connecting to ucf34dc83aca7cb5c0c57c775d3c.dl.dropboxusercontent.com (ucf34dc83aca7cb5c0c57c775d3c.dl.dropboxusercontent.com)|162.125.6.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 85285 (83K) [text/plain]
Saving to: ‘imdb_labelled.txt.1’

imdb_labelled.txt.1 100%[===================>]  83.29K  --.-KB/s    in 0.003s

2021-11-16 10:53:23 (24.7 MB/s) - ‘imdb_labelled.txt.1’ saved [85285/85285]

In [ ]:
# Import Libraries
import pandas as pd
import spacy

In [ ]:
# Read the dataset
df = pd.read_csv('imdb_labelled.txt', sep = '\t', header = None)
df.head()

                                                   0  1
0  A very, very, very slow-moving, aimless movie ...  0
1  Not sure who was more lost - the flat characte...  0
2  Attempting artiness with black & white and cle...  0
3       Very little music or anything to speak of.    0
4  The best scene in the movie was when Gerardo i...  1

In [ ]:
columns_name = ['Review', 'Sentiment']

df.columns = columns_name

In [ ]:
df.head()

                                              Review  Sentiment
0  A very, very, very slow-moving, aimless movie ...          0
1  Not sure who was more lost - the flat characte...          0
2  Attempting artiness with black & white and cle...          0
3       Very little music or anything to speak of.            0
4  The best scene in the movie was when Gerardo i...          1

In [ ]:
# Cleaning data
def clean_text(df):
  nlp = spacy.load('en')
  for i in range(df.shape[0]):
    doc = nlp(df['Review'][i])
    text = [w.lemma_.lower().strip() for w in doc
            if not (w.is_stop | w.is_punct | w.is_digit)]
    text = " ".join(text)

    if i<5:print('Sentence',i,text)
    df['Review'][i] = text

    return df

In [ ]:
imdb_df = clean_text(df)

Sentence 0 slow aimless movie distress drift young man

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [ ]:
imdb_df

                                                Review  Sentiment
0          slow aimless movie distress drift young man          0
1    Not sure who was more lost - the flat characte...          0
2    Attempting artiness with black & white and cle...          0
3         Very little music or anything to speak of.            0
4    The best scene in the movie was when Gerardo i...          1
..                                                 ...        ...
743  I just got bored watching Jessice Lange take h...          0
744  Unfortunately, any virtue in this film's produ...          0
745                   In a word, it is embarrassing.            0
746                               Exceptionally bad!            0
747  All in all its an insult to one's intelligence...          0

[748 rows x 2 columns]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf = TfidfVectorizer()

X = tf.fit_transform(imdb_df['Review'])
y = imdb_df['Sentiment']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state= 64)

In [ ]:
# Naive Bayes
from sklearn.naive_bayes import BernoulliNB
nb = BernoulliNB()
nb.fit(X_train,y_train)

BernoulliNB()

In [ ]:
y_pred = nb.predict(X_test)

In [ ]:
y_pred

array([0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0])

In [ ]:
from sklearn.metrics import classification_report
print("NB Classification report: \n" ,classification_report(y_test,y_pred))

NB Classification report:
               precision    recall  f1-score   support

           0       0.75      0.64      0.69        70
           1       0.72      0.81      0.76        80

    accuracy                           0.73       150
   macro avg       0.74      0.73      0.73       150
weighted avg       0.74      0.73      0.73       150

In [ ]:
#Linear SVC
from sklearn.svm import LinearSVC
svc = LinearSVC()
svc.fit(X_train,y_train)
y_pred = svc.predict(X_test)
print("SVC Classification report: \n" ,classification_report(y_test,y_pred))

SVC Classification report:
               precision    recall  f1-score   support

           0       0.76      0.74      0.75        70
           1       0.78      0.80      0.79        80

    accuracy                           0.77       150
   macro avg       0.77      0.77      0.77       150
weighted avg       0.77      0.77      0.77       150